html {
  scroll-behavior: smooth;
}
body,
body::after,
body::before {
  box-sizing: border-box;
  font-family: sans-serif;
}
h1,
h2 {
  color: mediumblue;
}
details {
  margin: 5px 0;
}
.codigo {
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border-radius: 5px;
  align-items: flex-start;
  margin: 10px 0;
  max-height: 80vh;
  max-width: 70vw;
  overflow: auto;
}
.codigo pre {
  padding: 10px 10px 0 10px;
}
.codigo button {
  height: 20px;
  color: white;
  background-color: rgb(78, 76, 76);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.codigo button:hover {
  color: rgb(29, 200, 29);
}
.nota {
  background-color: rgb(195, 191, 191);
  padding: 5px;
  border-radius: 5px;
}
.link-videos {
  display: inline-block;
  border: 1px solid white;
  margin: 5px 0;
  padding: 2px;
}
.indice {
  display: flex;
  width: 100vw;
}
.indice div {
  width: auto;
}
/* .indice div:nth-child(1) {
  width: 38%;
} */
.indice a,
.link-videos {
  text-decoration: none;
  color: cornflowerblue;
  padding: 1px;
}
.indice a:hover,
.link-videos:hover {
  color: red;
  border: 1px solid black;
  border-radius: 5px;
}
.details-indice span {
  cursor: pointer;
  background-color: red;
  border-radius: 5px;
  padding: 3px;
  color: white;
  user-select: none;
}
.details-indice {
  display: inline-flex;
  margin: 5px 0;
}
.details-indice summary {
  list-style: none;
}
.details-indice span:hover {
  border: 1px solid red;
  color: black;
  background-color: white;
}
.flecha-arriba {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.flecha-arriba img {
  width: 40px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 0 60px;
  background-color: green;
}
.flecha-arriba img:hover {
  background-color: white;
}
h2 {
  margin: 10px 0;
}
.videos-titulo {
  list-style: none;
  border: 1px solid;
  border-radius: 10px;
}
.videos-titulo:hover {
  cursor: pointer;
  background-color: rgb(195, 191, 191);
  border: 1px solid white;
}
.videos-titulo h2 {
  user-select: none;
}
ul ul {
  list-style-type: square;
}

nav {
  border: 1px solid black;
  color: black;
}
nav ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  padding: 3px;
}
nav a:hover {
  background-color: greenyellow;
  border-radius: 5px;
}
nav a:visited {
  color: black;
}
img {
  margin: 20px 0;
  margin-left: 30px;
  border: 1px solid black;
}
